{% extends 'layouts/public.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/category.css') }}">{% endblock %}

{% block body %}

        <div class="news-section">
            <h2 class="section-title">{{ category.title }}</h2>
            <div class="news-grid">
                {% for news in items %}
                <div class="news-card">
                    <div class="news-image">
                        <img src="{{ asset(news.picture) }}" alt="News Image" />
                    </div>
                    <div class="news-content">
                        <h3 class="news-title">
                            <a href="{{ path('app_public_news', {id: news.id}) }}">
                                {{ news.title }}
                            </a>
                        </h3>
                        <div class="news-meta">
                            <span class="news-date">{{ news.createdAt|date('F j, Y') }}</span>
                        </div>
                        <p class="news-description">{{ news.shortDescription }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="custom-pagination">
                {{ knp_pagination_render(items) }}
            </div>
        </div>

{% endblock %}
