{%extends 'layouts/admin.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Dashboard</h1>
        <p>Welcome back, {{ app.user.name }}!</p>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">
                            <i class="fas fa-tags"></i> Categories
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('category_create') }}" class="text-decoration-none"><i class="fas fa-plus text-success"></i> Create new categories</li></a> 
                            <li><a href="{{ path('category_index') }}" class="text-decoration-none"><i class="fas fa-list text-info"></i> View all categories</li></a>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-success text-white">
                        <h5 class="card-title mb-0">
                            <i class="fas fa-newspaper"></i> News
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('news_create') }}" class="text-decoration-none"><i class="fas fa-plus text-success"></i> Create new News</li></a> 
                            <li><a href="{{ path('news_index') }}" class="text-decoration-none"><i class="fas fa-list text-info"></i> View all News</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}